<div class='bg-slate-900 text-white p-8 lg:px-36 py-16'>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-2 xl:mx-auto xl:container'>
    <div>
      <h2 class='uppercase font-black'>Categories</h2>
      <ul class='flex flex-col gap-4 mt-8'>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Women</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Men</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Shoes</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Watches</li>
      </ul>
    </div>
    <div>
      <h2 class='uppercase font-black'>Help</h2>
      <ul class='flex flex-col gap-4 mt-8'>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Track Order</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Returns</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>Shipping</li>
        <li class='text-sm text-slate-400 hover:text-indigo-400 cursor-pointer'>FAQs</li>
      </ul>
    </div>
    <div>
      <h2 class='uppercase font-black'>Get in Touch</h2>
      <p class='mt-8 w-10/12 text-sm text-slate-400'>Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
      <div class='mt-8 flex gap-6'>
        <i class="fa-brands fa-facebook-f text-white hover:text-indigo-400 duration-150 ease-in-out cursor-pointer"></i>
        <i class="fa-brands fa-instagram text-white hover:text-indigo-400 duration-150 ease-in-out cursor-pointer"></i>
        <i class="fa-brands fa-pinterest-p text-white hover:text-indigo-400 duration-150 ease-in-out cursor-pointer"></i>
      </div>
    </div>
    <div>
      <h2 class='uppercase font-black'>Newsletter</h2>
      <input type='text' placeholder='email@example.com' class='bg-transparent border-x-0 border-t-0 border-b border-slate-400 outline-none mt-2 text-sm pl-0' />
      <button class='px-8 py-2 text-white bg-indigo-400 hover:bg-white hover:text-indigo-400 duration-150 ease-in-out uppercase rounded-full mt-6 text-md'>subscribe</button>
    </div>
  </div>
</div>
