<div data-welcome-index-value="1" class='flex justify-center items-center relative'>
  <div class=' absolute top-1/2 w-full flex justify-between px-4 md:px-8'>
    <button data-action="welcome#previous"> <i class="fa-solid fa-caret-left text-3xl lg:text-5xl text-slate-400 hover:text-indigo-400 duration-300 ease-in-out"></i> </button>
    <button data-action="welcome#next"> <i class="fa-solid fa-caret-right text-3xl lg:text-5xl text-slate-400 hover:text-indigo-400 duration-300 ease-in-out"></i> </button>
  </div>

  <div data-welcome-target="slide" class='w-full h-screen bg-slide-1 bg-cover bg-center'>
    <div class='flex flex-col justify-center items-start pl-12 md:pl-24 lg:pl-32 h-full'>
      <div class='text-slate-800 inline'>
        <p class='font-medium text-sm md:text-lg lg:text-xl'>Women Collection 2018</p>
        <p class='font-black text-3xl md:text-5xl lg:text-6xl'>New season</p>
        <button class='px-8 py-2 text-white bg-indigo-400 hover:bg-white hover:text-indigo-400 duration-150 ease-in-out uppercase rounded-full mt-6 text-sm md:text-md'>Shop Now</button>
      </div>
    </div>
  </div>
  <div data-welcome-target="slide" class='w-full h-screen bg-slide-2 bg-cover bg-center'>
    <div class='flex flex-col justify-center items-start pl-12 md:pl-24 lg:pl-32 h-full'>
      <div class='text-slate-800 inline'>
        <p class='font-medium text-sm md:text-lg lg:text-xl'>Men Collection 2018</p>
        <p class='font-black text-3xl md:text-5xl lg:text-6xl'>New Arrivals</p>
        <button class='px-8 py-2 text-white bg-indigo-400 hover:bg-white hover:text-indigo-400 duration-150 ease-in-out uppercase rounded-full mt-6 text-sm md:text-md'>Shop Now</button>
      </div>
    </div>
  </div>
  <div data-welcome-target="slide" class='w-full h-screen bg-slide-3 bg-cover bg-center'>
    <div class='flex flex-col justify-center items-start pl-12 md:pl-24 lg:pl-32 h-full'>
      <div class='text-slate-800 inline'>
        <p class='font-medium text-sm md:text-lg lg:text-xl'>Men New Season</p>
        <p class='font-black text-3xl md:text-5xl lg:text-6xl'>Jackets and Caots</p>
        <button class='px-8 py-2 text-white bg-indigo-400 hover:bg-white hover:text-indigo-400 duration-150 ease-in-out uppercase rounded-full mt-6 text-sm md:text-md'>Shop Now</button>
      </div>
    </div>
  </div>
</div>
